:root {

  --bg-gray: #3b3f50;

  --btn-blue: #3590f5;

  --asterisk-red: #d11d1d;

  --label-gray: #8d8d8d;

  --label-card-gray: #9cbce0;
}

#root {
  text-align: center;
}

header {
  align-items: center;
  color: white;
  display: flex;
  font-size: larger;
  height: 150px;
  justify-content: center;
}

h1 span {
  color: #3187e7;
}

.register-btn {
  background-color: var(--btn-blue);
  border: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 25px;
}

.line {
  background-color: #cacaca;
  margin: 80px auto 20px;
  width: 291px;
}

.no-registed-password {
  color: #838383;
  font-size: 26px;
}

.locker-img {
  width: 40px;
}

.form-container {
  background-color: #1e2029;
  border-radius: 10px;
  display: flex;
  gap: 15px;
  margin: 0 auto;
  padding: 30px;
  width: 60%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

.form label {
  color: var(--label-gray);
}

.service-container, .login-container, .password-container, .url-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

form div input {
  background-color: var(--bg-gray);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px;
  width: 90%;
}

form div input:focus {
  outline: 2px solid var(--btn-blue);
}

.login-password-container {
  display: flex;
  gap: 10px;
}

.login-container, .password-container {
  width: 46.5%;
}

.password-container {
  position: relative;
}

.eye-icon {
  background-color: transparent;
  border: none;
  bottom: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
  transform: translate(-8px, 3px);
}

.form-btns-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 93%;
}

.form-register-btn {
  background-color: var(--btn-blue);
  border: none;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 40px;
}

.form-register-btn:disabled {
  background-color: var(--label-gray);
  cursor: not-allowed;
}

.form-cancel-btn {
  background-color: transparent;
  border: none;
  color: var(--btn-blue);
  cursor: pointer;
  font-size: 18px;
}

.validation-password-container {
  align-items: flex-start;
  align-self: center;
  background-color: #252730;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  line-height: 0px;
  margin-bottom: 55px;
  padding: 10px 20px;
  position: relative;
  width: 30%;
}

.triangle {
  border-bottom: 20px solid transparent;
  border-right: 20px solid #252730;
  border-top: 20px solid transparent;
  bottom: 35%;
  height: 0;
  position: absolute;
  transform: translate(-40px);
  width: 0;
}

.valid-password-check {
  color: #aeffb6;
}

.invalid-password-check {
  color: #f58989;
}

.card-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 90%;
}

.card-container {
  background-color: #323544;
  border-radius: 10px;
  font-size: 18px;
  padding: 15px;
  width: 250px;
}

.card-container span {
  color: #9cbce0;
}

.card-container p {
  border-bottom: 1px solid #2d2d2d;
  color: #e9e9e9;
}

.card-container hr {
  border: 1px solid #2d2d2d;
  margin-top: 0;
}

.card-service {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: hidden;
}

.card-service a {
  color: var(--btn-blue);
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.card-login, .card-password {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  line-height: 0;
  overflow: hidden;
}

.remove-btn-container {
  display: flex;
  justify-content: flex-end;
}

.remove-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: -8px;
}

.remove-btn img {
  width: 22px;
}
